.quiz {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding-left: 14rem;
    padding-right: 14rem;
}
.quiz-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
}
.quiz-header h1 {
    font-size: 2.3rem;
    color: #0d0d0d;
    margin: 0;
}
.quiz-desc {
    color: #666666de;
    margin-top: 1.2rem;
    font-size: 1.1rem;
    text-align: center;
    max-width: 680px;
}
.quiz-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 60px;
    margin-top: 3rem;
    margin-bottom: 3rem;
}
.quiz-content-info {
    display: flex;
    flex-direction: column;
}
.quiz-content-text {
    color: #0d0d0d;
    font-size: 1.4rem;
    font-weight: 600;
}
.quiz-content-btn {
    color: #fff;
    background-color: #0C641B;
    height: 40px;
    border: none;
    border-radius: 9px;
    font-weight: 600;
    max-width: 110px;
}
.quiz-content-btn:hover {
    background-color: #0c641bd3;
}
